body{
  margin: 0px;
  font-family: "Fira Sans",Arial, Helvetica, sans-serif;
  color: #141414;
}
h1,h2,h3,p{
  margin: 0px;
}
ul{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img{ 
  /* toda imagem que ser colocada já vai herdar essa propriedade */
  max-width: 100%;
  height: auto;
  display: block;
}
.sub-titulo{
  font-size: 8rem;
  line-height: 1;  /* em relação ao 8rem */
  text-transform: uppercase;
  word-break: break-all;
  max-width: 4ch;

}

@media (max-width:800px){
  .sub-titulo{
    font-size: 3rem;
    text-transform: capitalize;
    max-width: initial;
    
  }
}